<div th:fragment="header" class="shadow" style="color: aqua;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> 
                
            <img src="/img/2.png" alt="Imagem 2" style="width: 1.8em; height: 1.8em; transform: translateY(-3px);"/>
                
                
                <strong style="font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:rgb(202, 86, 202);">Conexão PCD</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pessoa">Pessoas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/deficiencia" style="margin-left: 10px;">Deficiências</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ajuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
